
/* tech pill */

.tech-pill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  margin: 2rem 0;
}

.tech-pill {
  background:var(--custom-color-tech-pill-bg);
  color: var(--cumtom-color-text);
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
  font-weight: 600;
  border: 1px solid rgba(52, 152, 219, 0.3);
  transition: all 0.3s ease;
}

.tech-pill:hover {
  background:var(--custom-color-primary);
  color: var(--custom-color-tech-pill-text-hover);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(52, 152, 219, 0.2);
}


   
/* Responsive adjustments */
@media (max-width: 768px) {

  .tech-pill {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
  }
}