.custom-shape-divider-top-1758044097 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1758044097 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 49px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1758044097 .shape-fill {
    fill: var(--custom-color-primary);
}