.text-color-header{
    background-color: var(--custom-bg);
    color: var(--custom-color-text);
}

.bg-logo{
    background-color: var(--custom-color-light);
}

.custom-navbar-border {
  border-bottom: 1px solid rgba(200, 200, 200, 0.3);
}