.hero-title{
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 800;
  padding-top: 3rem;
}

.section-title {
 font-family: sans-serif;
 font-size: 2.5rem;
 font-weight: 700;
 text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
 color: var(--custom-color-section-title);
}

.subtitle {
 font-family: sans-serif;
 font-size: 1.20rem;
 font-weight: var(--font-weight-sutitle);
}

.body-text {
 font-family: sans-serif;
 font-size: 1.15rem;
 font-weight: 200;
}

.small-text {
 font-family: sans-serif;
 font-size: 1rem;
}

.text-highlight {
  color: var(--custom-color-section-title);
  font-weight: 600;
}

@media (min-width: 540px) {
  .hero-title {
    font-size: 3.5rem;
    padding-top: 0;
  }

  .body-text {
    font-family: sans-serif;
    font-size: 1.25rem;
  }

  .subtitle {
    font-size: 1.35rem;
  }
}

@media (min-width: 710px) {
  .hero-title {
    font-size: 4rem;
  }
}

@media (min-width: 900px) {
  .hero-title {
    font-size: 5rem;
  }
}