.hero-title{
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 800;
}

.section-title {
 font-family: sans-serif;
 font-size: 2.5rem;
 font-weight: 700;
 text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
 color: var(--custom-color-section-title);
}

.subtitle {
 font-family: sans-serif;
 font-size: 1.75rem;
}

.body-text {
 font-family: sans-serif;
 font-size: 1.15rem;
}

.small-text {
 font-family: sans-serif;
 font-size: 1rem;
}

.text-highlight {
  color: var(--custom-color-section-title);
  font-weight: 600;
}


@media (min-width: 900px) {
  .hero-title {
    font-size: 5rem;
  }

  .body-text {
    font-family: sans-serif;
    font-size: 1.25rem;
}
}

