:root {
  /* ===== COLORES BASE ESENCIALES ===== */
  --custom-color-primary: #2250b5;        /* principal */
  --custom-primary-color-transparent:rgba(34, 80, 181, 0.4); 
  --custom-color-success: #16a34a;        /* --------- Verde - Más vibrante */
  --custom-color-danger: #dc2626;         /* --------- Rojo - Más intenso */
  --custom-color-warning: #d97706;        /* --------- Amarillo - Terroso/más elegante */
  --custom-color-info: #0891b2;           /* --------- Cyan - Más profundo */
  
  /* ===== COLORES PARA VERSIONES API ===== */
  --color-v1: #6366f1;             /* Monolithic Core - Índigo */
  --color-v2: #ec4899;             /* Modular Nexus - Rosa */
  --color-v3: #0ea5e9;             /* ServiceCore - Azul cielo */
  --color-v4: #10b981;             /* SecureDoc - Esmeralda */
  --color-v5: #f97316;             /* SolidCore - Naranja */
  --color-v6: #8b5cf6;             /* TypeCraft - Púrpura */


  /* ------ COLORES NEUTROS ------ */
  --custom-color-light:#f1f5f9  ;          /* Fondo claro muy suave */
  --custom-color-dark: #1e293b;           /* --------- Texto oscuro más suave */
  --custom-color-white: #ffffff;          /* --------- Blanco puro */
  --custom-color-black: #000000;         
  
  /* ===== COLORES FUNCIONALES ===== */
            
  --custom-color-link-hover: #6366f1;     /* --------- Links hover más oscuro */
  --custom-color-border: #e2e8f0;         /* --------- Bordes muy sutiles */
  --custom-color-background: #ffffff;     /* --------- Fondo principal */

  /* ------ Tema ligth por defecto ------ */
  --custom-bg: #f1f5f9;
  --custom-bg-inverted: #252529;
  --custom-color-text: #000000;
  --custom-color-text-inverted: #f1f5f9;
  --custom-color-section-title:#314f6c;
  --custom-color-tech-pill-bg: #b4caf8;
  --custom-color-tech-pill-text-hover: #f1f5f9;
  --custom-color-secondary: #c3d6f1da;
  --font-weight-highlight-text: 600;
  --custom-color-link: #3649f6; 
  
}

[data-theme="dark"] {
  --custom-bg: #252529;
  --custom-bg-inverted: #f1f5f9;
  --custom-color-text: #f1f5f9;
  --custom-color-text-inverted: #000000;
  --custom-color-section-title:#b7babc;
  --custom-color-tech-pill-bg: #758bbb;
  --custom-color-tech-pill-text-hover: #000000;
  --custom-color-secondary: #465160;
  --font-weight-highlight-text: 600;
  --custom-color-link: #95a0ff;
}

body {
  background: var(--custom-bg);
  color: var(--custom-color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}