.version-api {
    border: 3px solid var(--custom-color-primary);;
    border-radius: 1rem;
    box-shadow: 0px 5px 15px 5px var(--custom-primary-color-transparent);
    background-color: var(--custom-color-secondary);
}

